.row{
  margin:0px;
  display: flex;
  flex-wrap: wrap;
}

.app{
  height: 100vh;
}

.user{
  height: $user-height;
}

.sidebar{
  width: $sidebar-width;
  height: $sidebar-height;
  background-color: lightGrey;
  padding: 20px 10px;
  overflow: auto;
}

.center-hor{
  margin-top: auto;
  margin-bottom: auto;
}

.center-ver{
  margin-left: auto;
  margin-right: auto;
}

.no-border{
  border-width: 0px;
}


.flex{
  flex:1;
}

.flex-1{
  flex: 1;
  height: 100vh;
  overflow: auto;
/*  overflow-y: scroll;
  overflow-x: hidden;*/
}

.flex-1-copy{
  flex: 1;
}

.flex-2{
  flex: 2;
//  overflow: auto;
}
.flex-3{
  flex: 3;
  height: 100vh;
  overflow: auto;
}
.flex-4{
  flex: 4;
  height: 100vh;
  overflow: auto;
}
.flex-5{
  flex: 5;
  height: 100vh;
  overflow: auto;
}
.flex-6{
  flex: 6;
  height: 100vh;
  overflow: auto;
}

.clickable{
  cursor: pointer;
}
